/* pre-settings */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
		 url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
		 url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
		 url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 300;
	src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqTRVvBvQIc1z78c__uoBcyI.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 300;
	src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/leqv3v-yTsJNC7nFznSMqeode0-EuMkY--TSyExeINg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body {
	font-family: 'Noto Sans KR';
}
article {
	width: 620px;
	margin: 0 auto;
}
p {
	text-align: justify;
}
code {
	font-family: 'Source Code Pro';
	font-weight: 300;
	display: block;
}
.box {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 400px;
	border: 15px dashed red;
	color: #fff;
	text-align: center;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
	background-image: url("avata.jpg");
	background-repeat: no-repeat;
	background-color: #666;
	background-size: 30px;
	background-position: left center;
}
.box-1 {
	top: 180px;
	/* background-origin: padding-box <= 명시하지 않으면 기본값임 */
}
.box-2 {
	top: 400px;
	background-origin: border-box;
}
.box-3 {
	top: 620px;
	background-origin: content-box;
}
