h1 {
    font-size: 4em;
    border: 1px solid;
}
.a-1 {
    background-color: #000000;
    color: #ffffff;
}
.a-2 {
    /*
        짧게 쓰는 방법 : 단축(shorthand)
    */
    background-color: #000;
    color: #fff;
}
.a-3 {
    /*
        rgb값은 띄어쓰기 할 필요없지만 보기 편하게 하기 위해서 띄어쓴다.
    */
    background-color: rgb(0,0,0);
    color: rgb(255, 255, 255);
}
.a-4 {
    background-color: #0066ff;
    color: #fff;
}
.a-4:hover {
    color: #000;
    background-color: transparent;
}
.a-5 {
    color: #fff;
    background-color: #000;
}
.a-5::selection {
    color : rgb(112, 180, 45);
    background-color: rgb(235, 188, 223);
}
.a-6:hover {
    background-color: rgb(163, 157, 240);
    color: #fff; 
}
.a-6:active {
    background-color: rgb(91, 83, 208);
}
.a-7:active {
    background-color: rgb(234, 223, 102);
}
.a-8:hover {
    color: #fff;
    background-color: rgb(91, 83, 208);
}
.a-9 {
    color : rgb(0,255,0);
}
.a-9:hover {
    color: #f312f3;
}
.a-10 {
    color: rgb(0,255,0);
}
.a-11 {
    background-color: #000;
    color: rgba(255,225,255,.5);
}
.a-11:hover {
    color: #fff;
    /* rgba(255,255,255,1) */
}
.a-12 {
    background-color: rgba(102,0,255,.25);
    transition: all .3s;
}
.a-12:hover {
    background-color: rgba(102,0,255,.8);
}
.a-13 {
    background-color: #000;
    color: #fff;
}
.a-13:active {
    transition: all .2s;
    color: #b2b2b2;
}
.a-13 {
    font-style: sans-serif;
}