.a-1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
}
/*
    Noto Sans KR: 100,200,300,400,500,700,900
*/
.a-1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
}
.a-2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
.a-3 {
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 400;
}
.a-4 {
    font-family: 'East Sea Dokdo', cursive;
    font-weight: 400;
}.a-5 {
    font-family: 'east sea dokdo',cursive;
    font-weight: 400;

}