/************************************
	각 클래스에 적용해 보세요!
	그리고 요소검사 > computed의 박스모델을 보고 확인해 보세요
************************************/


.a {
	/*
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 40px;
	*/
	/* padding: top right bottom left 형식으로 아래에 스타일을 지정해 보세요! */
}

/* padding: top·bottom left·right */
.b {
	/*
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 25px;
	padding-right: 25px;
	*/
	/* padding: top·bottom left·right 형식으로 아래에 스타일을 지정해 보세요! */
}

/* padding: top left·right bottom */
.c {
	/*
	padding-top: 50px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 100px;
	*/
	/* padding: top left·right bottom 형식으로 아래에 스타일을 지정해 보세요! */
}
