div {
    background-color: gold;
    margin-bottom: 20px;
    line-height: 1;
}
.a-1 {
    padding: 50px;
    /*
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    */
}
.a-2 {
    padding-top: 50px;
}
.a-3 { 
    padding-left: 25px;
}
.a-4 {
    padding-left: 1em;
    /*
        현재 글자크기가 1em.
    */
}
.a-5 {
    padding-left: 15%;
    /*
        padding이나 margin에서 값의 단위가 %일 경우 100% 기준은 부모요소의 width값이다.
    */
}
.a-6 {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 30px;
    /*
        padding: 50px 15px 20px 30px;
    */
}
.a-7 {
    padding: 30px 40px 20px 10px;
}
.a-8 {
    padding: 30px 100px;
}
.a-9 {
    padding: 100px 50px 10px;
}
.a-10 {
    padding: 50% 10% 30%;
    margin-top: 10%;
}